<section class="welcome">
  <div class="welcome__box">
    <h1 class="welcome__my-name">SHIN USUDA</h1>
    <p class="welcome__text">wanna be like that</p>
  </div>
</section>
<section class="character" id="character">
  <div class="character__coffee-is">
    <h1 class="character__philosophy">Philosophy</h1>
    <h1 class="character__head">コーヒーのような存在になりたい</h1>
    <%= image_tag 'coffee_break.png', class: "character__coffee-icon" %>
    <p class="character__description">
      皆さんが毎日口にするコーヒーには脳の活性作用、運動能力の向上、リラックス作用があります。<br>
      企業の創造性を活性させ、前へ進む推進力を与える。<br>
      時に安心感を与え、多くの人々に愛される。<br>
      私はそんな存在になりたいと常に思っております。
    </p>
  </div>
</section>
<section class="profile" id="profile">
  <h1 class="profile__title">Profile</h1>
  <div class="profile__info">
    <div class="profile__my-image"></div>
    <p class="profile__text">
      はじめまして。薄田晋と申します。平成5年生まれ26歳、社会人4年目です。<br>
      青山学院大学理工学部卒業後、自動車メーター、HUDのメーカーでシステムエンジニアとして技術開発を３年間行ってきました。<br>
      主にグラフィックス制御技術エリアを担当しており、仕様設計、回路設計、モデリング、技術営業を行っていました。<br>
      特に状態遷移設計を得意としております。<br>
      その後、オフィス家具メーカーへ転職し、半年間営業としてお客様への価値提供を行ってきました。<br>
      ユーザー視点でより良いサービスを創造していきたいと考え、エンジニアリングを再び猛勉強しています！
    </p>
  </div>
</section>
<section class="works" id="works">
  <h1 class="works__title">Works</h1>
  <p class="works__thought">
    良いサービスとはどのようにして生まれてきたのか。<br>
    これに関して考えてみました。<br>
    考えた末に以下３つの観点から生まれるのではないかと考え、作品を作成しました。</p>
  <div class="works__box">
    <div class="works__efficiency">
      <h2 class="works__subtitle">効率化</h2>
      <%= image_tag 'efficiency.png', class: 'works__icon' %>
      <p class="works__description">
        多くのサービスがこの効率化に当たるかと思います。単純作業の自動化、AIによる自動管理、情報集約による検索時間短縮などの技術により、人々の自由な時間が増えてきています。その自由な時間を使って、さらに多くの仕事を行ったり、趣味に費やしたり、スキルアップに使ったり。技術の力で人々の自由が増えるなんて素晴らしいですね。
      </p>
      <%= link_to work_tetra_path do %>
        <h3 class="works__work-name--comming-soon">tetra(開発途中)</h3>
        <%= image_tag 'tetra.png', class: 'works__work_img' %>
        <h3 class="works__work-skill">AWS × Docker × Nuxt.js × Rails</h3>
      <% end %>
    </div>
    <div class="works__hobby">
      <h2 class="works__subtitle">趣味をより楽しく</h2>
      <%= image_tag 'camera.png', class: 'works__icon' %>
      <p class="works__description">
        より多くの時間を趣味に費やすことができ、もっと楽しめたら幸せですよね。
        最近では、スポーツ観戦が好きな人はスマートフォンでいつでも観戦可能ですし、筋トレが趣味の人は日々の成果をグラフ化してくれるようになり、モチベーションを保ちやすくなりました。趣味をもっと楽しくするサービスも良いサービスと言えると思います。
      </p>
      <%= link_to work_tone_up_date_path do %>
        <h3 class="works__work-name">TONE×UP×DATE</h3>
        <%= image_tag 'tone_up_date.png', class: 'works__work_img' %>
        <h3 class="works__work-skill">React × Rails</h3>
        <!-- <div class="works__pick-up">
          <%= icon 'far', 'lightbulb', class: "works__pick-up--icon" %>
          Pick up!
        </div> -->
      <% end %>
    </div>
    <div class="works__pull-economy">
      <h2 class="works__subtitle">経済から予測</h2>
      <%= image_tag 'economy.png', class: 'works__icon' %>
      <p class="works__description">
        政治や技術など様々な要因で、経済状況は目まぐるしく変化していきます。最近話題になったキーワードとしては、税率アップ、働き方改革、SDGsなどでしょうか。この変化を予測し、そこから生まれるニーズに合わせたサービスを提供する。これが良いサービスが生まれる一つの条件なのではないでしょうか。
      </p>
      <%= link_to work_ether_path do %>
        <h3 class="works__work-name">Ether</h3>
        <%= image_tag 'ether.png', class: 'works__work_img' %>
        <h3 class="works__work-skill">Vue.js × Rails</h3>
      <% end %>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="footer__box">
    <ul class="footer__page-link">
      <li><a href="#character">Philosophy</a></li>
      <li><a href="#profile">Profile</a></li>
      <li><a href="#works">Works</a></li>
    </ul>
    <ul class="footer__sns-link">
      <li class="footer__sns-list"><a href="https://github.com/vixer93"><%= icon 'fab', 'github-square' %></a></li>
      <li class="footer__sns-list"><a href="https://twitter.com/tn_outputsuruzo"><%= icon 'fab', 'twitter-square' %></a></li>
      <li class="footer__sns-list footer__sns-list--image"><a href="https://note.com/vixer93"><%= image_tag 'note.png', class: 'footer__note-icon' %></a></li>
    </ul>
  </div>
</footer>